.footer {
  box-sizing: border-box;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1023 {
    min-height: 80px;
  }

  @include vp-767 {
    min-height: 60px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    font-size: 10px;
    line-height: 12px;
  }

  svg {
    width: 26px;
    height: 26px;
    margin-right: 10px;

    @include vp-1023 {
      width: 20px;
      height: 20px;
    }

    @include vp-767 {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }
}
